<div class="screen-col screen-col1-show" id="J-screenShow">
    <!-- 中间层 -->
    <article class="screen-col3" id="J-screenPage">
        <div id="top-bar">
            <div class="top-bar-cont index-top-bar-cont">
                <span class="btn-bar-css btn-bar-select btn-bar-left" id="J-showLeft"><i></i></span>
                <h1>我的工作台</h1>
                <span class="btn-bar-css btn-bar-message btn-bar-right" id="J-showRight"><i></i><span>1</span></span>
            </div>
        </div>
        <section id="weather"><img src="/fcs/m/images/weather.jpg" width="100%" height="230"></section>
        <nav id="nav">
            <ul class="nav-list">
                <li id="J_AirTicket"><span class="pic"><img src="/fcs/m/images/pic1.png"></span><span>订机票</span></li>
                <li id="J_BookHotel"><span class="pic"><img src="/fcs/m/images/pic2.png"></span><span>订酒店</span></li>
                <li id="J_AddReimburse"><span class="pic"><img src="/fcs/m/images/pic3.png"></span><span>申请报销</span></li>
            </ul>
        </nav>
        <section id="content">
            <div class="main" style="position:absolute;width:100%;background:#f2f2f2;">
                <div class="index-content">
                    <div class="index-flight-hotel">
                        <ul id="J_NewOrders" class="index-info-list arrow-left-icon-c0ccda">
                            <li id="J_NewAirOrder"></li>
                            <li id="J_NewHotelOrder"></li>
                        </ul>
                    </div>
                    <div class="index-other">
                        <ul class="index-other-list">
                            <li id="J_ForSubmit">
                                <div class="index-other-single arrow-left-icon-c0ccda">报销未提交<span class="fn-c-18a8e6 fn48" id="J_Incomplete">0</span>笔</div>
                                <figure class="n_icon"></figure>
                            </li>
                            <li id="J_ComeBack">
                                <div class="index-other-single arrow-left-icon-c0ccda">报销被退回<span class="fn-c-ff7365 fn48" id="J_Reject">0</span>笔</div>
                                <figure class="e_icon"></figure>
                            </li>
                            <li id="J_WaitDone">
                                <div class="index-other-single arrow-left-icon-c0ccda">报销待交单<span class="fn-c-2db76c fn48" id="J_Success">0</span>笔</div>
                                <figure class="s_icon"></figure>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </article>
</div>