<script type="text/x-handlebars-template" id="J_HomeHeaderTpl">
    <div class="top-bar-cont">
        <span class="btn-bar-css btn-bar-select btn-bar-left" id="J_Menuleft"><i></i></span>
        <h1>我的工作台</h1>
        <span class="btn-bar-css btn-bar-message btn-bar-right" id="J_CloudMsg"><i></i></span>
    </div>
</script>

<script type="text/x-handlebars-template" id="J_LoginHeaderTpl">
    <div class="top-bar-cont">
        <!--<span class="btn-bar-css btn-bar-back btn-bar-left"><i></i></span>-->
        <h1>登录</h1>
        <span class="btn-bar-txt btn-bar-right" id="J_Register">注册</span>
    </div>
</script>

<script type="text/x-handlebars-template" id="J_RegisterHeaderTpl">
    <div class="top-bar-cont">
        <span class="btn-bar-css btn-bar-back btn-bar-left J_Back"><i></i></span>
        <h1>注册</h1>
    </div>
</script>

<script type="text/x-handlebars-template" id="J_OrdersHeaderTpl">
    <div class="top-bar-cont">
        <span class="btn-bar-css btn-bar-back btn-bar-left J_Home"><i></i></span>
        <h1>最新差旅订单</h1>
        <span class="btn-bar-css btn-bar-filter btn-bar-right J_Search"><i></i></span>
    </div>
</script>

<script type="text/x-handlebars-template" id="J_SearchHeaderTpl">
    <div class="top-bar-cont">
        <span class="btn-bar-css btn-bar-back btn-bar-left J_Back"><i></i></span>
        <h1>订单筛选</h1>
    </div>
</script>

<!--可报销订单-->
<script type="text/x-handlebars-template" id="J_ReimOrderTpl">
    <div class="top-bar-cont">
        <span class="btn-bar-css btn-bar-back btn-bar-left J_Home"><i></i></span>
        <h1>确定订单</h1>
    </div>
</script>

<script type="text/x-handlebars-template" id="J_TravelSelTpl">
    <div class="top-bar-cont">
        <span class="btn-bar-css btn-bar-back btn-bar-left J_SelectorBack"><i></i></span>
        <h1>选择出差人</h1>
        <span class="J_TravelSubmit btn-bar-css btn-bar-sure btn-bar-right">确定</span>
    </div>
</script>

<script type="text/x-handlebars-template" id="J_BooksetHeadTpl">
    <div class="top-bar-cont">
        <span class="btn-bar-css btn-bar-back btn-bar-left J_SelectorBack"><i></i></span>
        <h1>选择帐套公司</h1>
    </div>
</script>

<script type="text/x-handlebars-template" id="J_PayeeHeadTpl">
    <div class="top-bar-cont">
        <span class="btn-bar-css btn-bar-back btn-bar-left J_SelectorBack"><i></i></span>
        <h1>选择收款人</h1>
    </div>
</script>

<script type="text/x-handlebars-template" id="J_DepHeadTpl">
    <div class="top-bar-cont">
        <span class="btn-bar-css btn-bar-back btn-bar-left J_SelectorBack"><i></i></span>
        <h1>选择入帐部门</h1>
    </div>
</script>

<!--详情公布头部-->
<script type="text/x-handlebars-template" id="J_OrderTopTpl">
    <div class="top-bar-cont">
        <span class="btn-bar-css btn-bar-back btn-bar-left" id="J-GoOrder"><i></i></span>
        <h1>订单详情</h1>
    </div>
</script>

<!-- 用户信息设置(彬) -->
<script type="text/x-handlebars-template" id="J_SettingTopTpl">
    <div class="top-bar-cont">
        <span class="btn-bar-css btn-bar-left btn-bar-select J_goHome"><i></i></span>
        <h1>设置</h1>
    </div>
</script>
<!--彬-->


<!--重置登录密码 修改登录密码 修改手机号码(展)-->
<script type="text/x-handlebars-template" id="J_UpdatePwdHeadTpl">
    <div class="top-bar-cont">
        <span class="btn-bar-css btn-bar-back btn-bar-left J_Back"><i></i></span>
        <h1>修改登录密码</h1>
    </div>
</script>
<script type="text/x-handlebars-template" id="J_ResetPwdHeadTpl">
    <div class="top-bar-cont">
        <span class="btn-bar-css btn-bar-back btn-bar-left J_Back"><i></i></span>
        <h1>找回登录密码</h1>
    </div>
</script>
<script type="text/x-handlebars-template" id="J_MobileUpdateHeadTpl">
    <div class="top-bar-cont">
        <span class="btn-bar-css btn-bar-back btn-bar-left J_Back"><i></i></span>
        <h1>修改手机号码</h1>
        <span class="btn-bar-css btn-bar-select btn-bar-right J_Home"><i></i></span>
    </div>
</script>


<!--我的报销(彬)-->
<script type="text/x-handlebars-template" id="J_QueryReimTpl">
    <header id="top-bar">
        <div class="top-bar-cont">
            <span class="btn-bar-css btn-bar-back btn-bar-left" id="J_Backhome"><i></i></span>
            <h1>我的报销单</h1>
            <span class="btn-bar-css btn-bar-filter btn-bar-right J_QueryState"><i></i></span>
        </div>
    </header>
</script>

<!-- 筛选报销单头部(彬) -->
<script type="text/x-handlebars-template" id="J_ReimSearchHeaderTpl">
    <header id="top-bar">
        <div class="top-bar-cont">
            <span class="btn-bar-css btn-bar-back btn-bar-left" id="J_Back"><i></i></span>
            <h1>筛选报销单</h1>
        </div>
    </header>
</script>

<!--筛选状态头部（彬）-->
<script type="text/x-handlebars-template" id="J_ReimTripstateTpl">
    <header id="top-bar">
        <div class="top-bar-cont">
            <span class="btn-bar-css btn-bar-left"><i></i></span>
            <h1>类型</h1>
        </div>
    </header>
</script>

<!-- 筛选收款人头部（彬） -->
<script type="text/x-handlebars-template" id="J_ReimpayeNameTpl">
    <header id="top-bar">
        <div class="top-bar-cont">
            <span class="btn-bar-css btn-bar-left" id="J_BackShaixuan"><i></i></span>
            <h1>收款人</h1>
        </div>
    </header>
</script>
<!--彬-->


<!--跳转平安付(彬)-->
<script type="text/x-handlebars-template" id="J_EpayNumTpl">
    <div class="top-bar-cont">
        <span id="J_UserCenter" class="btn-bar-css btn-bar-back btn-bar-left"><i></i></span>
        <h1>平安付</h1>
    </div>
</script>

<!--测试iframe(展)-->
<script type="text/x-handlebars-template" id="J_IframeBaiduTpl">
    <div class="top-bar-cont">
        <span id="J_UserCenter" class="btn-bar-css btn-bar-back btn-bar-left"><i></i></span>
        <h1>测试iframe</h1>
    </div>
</script>

<!--报销明细(李學文)-->
<script type="text/x-handlebars-template" id="J_ReimDocTopTpl">
	<div class="top-bar-cont">
		<span class="J_Back btn-bar-css btn-bar-back btn-bar-left"><i></i></span>
		<h1>报销明细</h1>
        <span id="J_ReimAddTool" class="btn-bar-css btn-bar-add btn-bar-right"><i></i></span>
	</div>
</script>

<!--申请成功（李学文）-->
<script type="text/x-handlebars-template" id="J_ReimDocSuccessTpl">
    <div class="top-bar-cont">
        <h1>申请成功</h1>
    </div>
</script>

<!-- 添加交通工具(Alin)-->
<script type="text/x-handlebars-template" id="J_AddTrafficTopTpl">
    <div class="top-bar-cont">
        <span class="J_Back btn-bar-css btn-bar-back btn-bar-left"><i></i></span>
        <h1>添加交通工具</h1>
    </div>
</script>

<!-- 添加酒店 (Alin)-->
<script type="text/x-handlebars-template" id="J_AddHotelTopTpl">
    <div class="top-bar-cont">
        <span class="J_Back btn-bar-css btn-bar-back btn-bar-left"><i></i></span>
        <h1>添加酒店</h1>
    </div>
</script>

<!--添加酒店进入出差人界面-->
<script type="text/x-handlebars-template" id="J_TravellerSelTpl2">
    <div class="top-bar-cont">
        <span class="btn-bar-css btn-bar-back btn-bar-left J_Back"><i></i></span>
        <h1>选择出差人</h1>
    </div>
</script>

<!-- 选择城市页面 (Alin)-->
<script type="text/x-handlebars-template" id="J_SelectCityTopTpl">
    <div class="top-bar-cont">
    <span class="J_Back btn-bar-css btn-bar-back btn-bar-left"><i></i></span>
    <h1>选择城市路线</h1>
    </div>
</script>