<div class="screen-col screen-col1-show" id="J-screenShow">
    <!-- 左侧 -->
    <article class="screen-col1" id="J-screenLeft">
        <div class="screen-col1-content">
            <div class="set-content">
                <header class="set-content-header arrow-left-icon-233143">
                    <h2>我的工作台</h2>
                    <figure class="photo"><img src="/fcs/m/images/photo.jpg"></figure>
                </header>
                <section class="info-content m-b30">
                    <dl class="index-menu">
                        <dt class="index-menu-title">常用</dt>
                        <dd class="index-menu-content">
                            <ul class="info-table info-table-row-bdr row-p-lr30">
                                <li>
                                    <div class="info-row arrow-left-icon-233143">
                                        <div class="info-row-cont air-icon-acc2dd" id="J_GoAir">预定机票</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="info-row arrow-left-icon-233143">
                                        <div class="info-row-cont hotel-icon-acc2dd" id="J_GoHotel">预定酒店</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="info-row arrow-left-icon-233143">
                                        <div class="info-row-cont travel-icon-acc2dd" id="J_MyOrders">我的差旅订单</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="info-row arrow-left-icon-233143">
                                        <div class="info-row-cont apply-icon-acc2dd" id="J_AddReimburse">申请报销</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="info-row arrow-left-icon-233143">
                                        <div class="info-row-cont my-icon-acc2dd" id="J_MyDocs">我的报销单</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="info-row arrow-left-icon-233143">
                                        <div class="info-row-cont share-icon-acc2dd" id="J_Relations">股权关系</div>
                                    </div>
                                </li>
                            </ul>
                        </dd>
                    </dl>
                    <dl class="index-menu">
                        <dt class="index-menu-title">其他</dt>
                        <dd class="index-menu-content" id="J_OtherItems">
                            <ul class="info-table info-table-row-bdr row-p-lr30">
                                <li>
                                    <div class="info-row arrow-left-icon-233143">
                                        <div class="info-row-cont credit-icon-acc2dd" id="J_Credit">信用体系-还款订单</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="info-row arrow-left-icon-233143">
                                        <div class="info-row-cont travel2-icon-acc2dd">差旅标准</div>
                                    </div>
                                </li>
                            </ul>
                        </dd>
                    </dl>
                </section>
                <footer>
                    <div class="content-footer">
                        <div id="J_UserSetting" class="btn-css btn-c-334459 btn-icon btn-set"><i></i>设置</div>
                        <div id="J_LoginOut" class="btn-css m-l30 btn-c-334459 btn-icon btn-exit"><i></i>安全退出</div>
                    </div>
                </footer>
            </div>
        </div>
    </article>

    <!-- 右侧操作 -->
    <article class="screen-col2" id="J-screenRight">
        <div class="screen-col2-content">
            <header id="news-center-bar">
                <div class="top-bar-cont">
                    <h1>消息中心</h1>
                </div>
            </header>
            <section class="news-center">
                <ul class="news-list">
                    <li class="new-message J_MessageCenter">
                        <div class="news-list-title">
                            <h3>报销</h3>
                            <span class="time">9:18</span>
                        </div>
                        <div class="news-list-content">
                            <p>7800元已到账</p>
                        </div>
                    </li>
                    <li class="new-message J_MessageCenter">
                        <div class="news-list-title">
                            <h3>报销</h3>
                            <span class="time">9:18</span>
                        </div>
                        <div class="news-list-content">
                            <p>7800元已到账</p>
                        </div>
                    </li>
                </ul>
            </section>
        </div>
    </article>

    <!-- 中间层 -->
    <article class="screen-col3" id="J-screenPage">
        <div id="top-bar">
            <div class="top-bar-cont index-top-bar-cont">
                <span class="btn-bar-css btn-bar-select btn-bar-left" id="J-showLeft"><i></i></span>
                <h1>我的工作台</h1>
                <span class="btn-bar-css btn-bar-message btn-bar-right" id="J-showRight"><i></i><span>1</span></span>
            </div>
        </div>
        <section id="weather"><img src="/fcs/m/images/weather.jpg" width="100%" height="230"></section>
        <nav id="nav">
            <ul class="nav-list">
                <li id="J_AirTicket"><span class="pic"><img src="/fcs/m/images/pic1.png"></span><span>订机票</span></li>
                <li id="J_BookHotel"><span class="pic"><img src="/fcs/m/images/pic2.png"></span><span>订酒店</span></li>
                <li id="J_AddReimburse"><span class="pic"><img src="/fcs/m/images/pic3.png"></span><span>申请报销</span></li>
            </ul>
        </nav>
        <section id="content">
            <div class="main" style="position:absolute;width:100%;background:#f2f2f2;">
                <div class="index-content">
                    <div class="index-flight-hotel">
                        <ul id="J_NewOrders" class="index-info-list arrow-left-icon-c0ccda">
                            <li id="J_NewAirOrder"></li>
                            <li id="J_NewHotelOrder"></li>
                        </ul>
                    </div>
                    <div class="index-other">
                        <ul class="index-other-list" id="J_MyDocs">
                            <li id="J_ForSubmit">
                                <div class="index-other-single arrow-left-icon-c0ccda">报销未提交<span class="fn-c-18a8e6 fn48" id="J_Incomplete">0</span>笔</div>
                                <figure class="n_icon"></figure>
                            </li>
                            <li id="J_ComeBack">
                                <div class="index-other-single arrow-left-icon-c0ccda">报销被退回<span class="fn-c-ff7365 fn48" id="J_Reject">0</span>笔</div>
                                <figure class="e_icon"></figure>
                            </li>
                            <li id="J_WaitDone">
                                <div class="index-other-single arrow-left-icon-c0ccda">报销待交单<span class="fn-c-2db76c fn48" id="J_Success">0</span>笔</div>
                                <figure class="s_icon"></figure>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </article>
</div>