<div class="screen-col screen-col1-show" id="J-screenShow">
<article class="screen-col2" id="J-screenRight">
    <div class="screen-col2-content">
        <header id="news-center-bar">
            <div class="top-bar-cont">
                <span class="btn-bar-css btn-bar-back btn-bar-left" id="J_MsgBackHome"></span>
                <h1>消息中心</h1>
            </div>
        </header>
        <section class="news-center">
            <ul class="news-list">
                <li class="new-message J_MessageCenter">
                    <div class="news-list-title">
                        <h3>报销</h3>
                        <span class="time">9:18</span>
                    </div>
                    <div class="news-list-content">
                        <p>7800元已到账</p>
                    </div>
                </li>
                <li class="new-message J_MessageCenter">
                    <div class="news-list-title">
                        <h3>报销</h3>
                        <span class="time">9:18</span>
                    </div>
                    <div class="news-list-content">
                        <p>7800元已到账</p>
                    </div>
                </li>
            </ul>
        </section>
    </div>
</article>
</div>